<div id="posts_searchresults">
    <% if @posts && @posts.count > 0 %>
    <h3>Results in Posts</h3>
    <br>
    <table>
        <tr>
            <td style="font-weight: bold; border-bottom: 1px solid;">
                Post content
            </td>
            <td style="font-weight: bold; border-bottom: 1px solid;">
                Author
            </td>
        </tr>
        <%
        for post in @posts
        user_post = find_userpost_by_post_id post.id
        if user_post
        user = find_user_by_id user_post.user_id %>
        <tr>
            <td>
                <%= truncate(post.content, 40, "...") %>
            </td>
            <td>
                <%= corrected_username user %>
            </td>
        </tr>
        <% end end %>
    </table>
    <% elsif @posts && @posts.count == 0  %>
    <br>
    No posts could be found for the given query.<% end %>
</div>
