<div id="content">
    <div id="left">
        <h2>Friends</h2>
        <div id="sub_menu">
            <ul>
                <li>
                    <%= link_to 'Add Friends', {:action => :new} %>
                </li>
            </ul>
        </div>
        <%= render :partial => 'friendships' %>
    </div>
    <div id="right">
        right
    </div>
</div>
