<div id="content">
    <div id="left">
        <h2>Friends</h2>
        <div id="sub_menu">
            <ul>
                <li>
                    <%= link_to 'Add Friends', {:action => :new} %>
                </li>
            </ul>
        </div>
        <div id="friends">
            <% @friends.each do |user| %>
            <div class="friend" id=<%= user.id %>>
                <div>
                    <a href="#"><%= user.login %></a>
                    <br>
                    <span class="meta" style="padding-top: 0!important">since: <%= @controller.get_friendship(@currentid, user.id).date %></span>
                    <span class="delete"><a href="#">block</a></span>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    <div id="right">
        right
    </div>
</div>
