<div id="content">
    <div id="left">
        <h2>Friends</h2>
        <div id="friends">
            <% @friends.each do |user| %>
            <div class="friend" id="friend_1">
                <div>
                    <a href="#"><%= user.login %></a><br>
                    <span class="meta" style="padding-top: 0!important">since: <%= @friendships[0].date %></span>
					<span class="delete"><a href="#">delete</a></span>
                </div>
            </div>
            <%end %>
        </div>
    </div>
    <div id="right">
        right
    </div>
</div>
