<div id="content">
    <div id="left">
        <h2>All Users</h2>
        <div id="sub_menu">
            <ul>
                <li>
                    <%= link_to 'Back', {:action => :index} %>
                </li>
            </ul>
        </div>
		<%= render :partial => 'no_friendships' %>
    </div>
    <div id="right">
        right
    </div>
