body{
	background: #333;
	font-family:Helvetica,Arial,sans-serif;
	font-size:92.5%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	position:relative;
	padding: 0;	
	align: auto;
	v-align: top;
}

table{
	border-collapse:collapse;
	width:100%;
}

table,tr,td{ 
	align: left;
	vertical-align: top; 
}

#wrapper{ 
	background:#FFFFFF none repeat scroll 0 0;
	margin:0 auto;
	width:940px;
	color: #676767;
}

#header{
	width: 907px;
	height: 49px;
	padding: 17px;
	padding-bottom: 0!important;
	background: #333;
	vertical-align: bottom!important;
}

#menu {
	font-size: 120%;
	padding-bottom: 0!important;
	vertical-align: bottom;
	position: relative;
}

#sub_menu{
	margin-top: 0!important;
	padding-top: 0!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
}


#left{
	float:left;
	padding: 17px 7px 17px 17px;
	position:relative;
	width:634px;
}

#one_col{
	padding: 17px 7px 17px 17px;
	width:906px;
}

/*.post, .meta, .message, .message_from, .message_content{ padding: 7px; }*/
#left div,#one_col div{ padding: 7px; }

#right{
	float:right;
	padding:17px 17px 17px 10px;
	width:254px;
}

#footer {
	background: #efefef;
	color:#666666;
	font-size:82.5%;
	text-align:left;
	width:100%;
}

#footer div{
	padding: 13px 17px 17px;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

/* MENU *****************/

#menu a, #menu a:link{
	color: #ccc;
}

.menu_list{
	float:left;
}

#menu_right{
	float: right;
}

#menu_left li{
	margin-right: 13px;
	paddidng-top: 13px;
}

#menu_right li.last{
	margin-right: 0;
}

#menu_right li{
	float: right;
	margin: 0 7px 0 0;
}

span.active{
	background: #454545!important;
	color: #ccc;
	padding: 5px!important;
}

.menu_list a{ padding: 5px!important; }

.menu_list a span{
	padding: 1px 5px 0;
	background: #ffd966;
	color: #000;
}

/* SUB MENU ******************/

#sub_menu ul{
	background: #efefef;
	padding: 1px 5px;
}
#sub_menu ul li{
	padding: 5px 7px;
}
#sub_menu ul li a, #sub_menu ul li a:link{
	padding: 2px 6px;
}

#sub_menu ul li a:hover{
	text-decoration: none;
	background: #fff;
}
#sub_menu ul li span{
	background: #fff;
	padding: 2px 6px;
}

/* FLASH ******************/
.flash{
	font-size: 100%;
	font-weight: bold;
	background:yellow!important;
	padding: 7px 9px 9px;
}

/* CONTENT ******************/
h1,h2 {
	font-weight: normal;
	font-size: 185%;
	border-bottom: 1px solid #666;
	padding-left: 17px;
	margin-bottom: 7px;
}

h3 {
	font-weight: normal;
	font-size: 150%;
	margin-bottom: 7px;
}

a, a:link {
	color:#121212;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

/* SEARCH ******************/
#field_query{
	border: none;
	margin-top: -3;
	padding: 2px;
	font-size: 92.5%;
}

#search_userlist{
	float:left;
	margin: 5px;
	position:relative;
	width:100px;
}

#search_main{
	float:left;
	position:relative;
	width:490px;
}

.search_user{text-decoration: underline;}

.input_search{width: 500px; }

/* POSTS ******************/
#poster{
	border-bottom: 1px solid #999;
	margin: 0 17px;
	padding-left: 0!important;
	padding-right: 0!important;
}

#field_poster{
	width: 475px;
	padding: 2px;
}

#poster_submit{
	/*margin: 0 0 0 493px;*/
}

.post{ }
.meta{ color: #ccc; }

/* COMMENTS ******************/
.comments li{
	background: #efefef;
	padding: 3px 7px 5px;
	margin: 0 0 3px;
}
.comments li.first_comment{
	padding-top: 15px;
	background:#efefef url(img/first_comment.gif) top left repeat-x;
}
.comments p{
	padding: 0;
	margin: 1px 0 3px;
}
.input_comment{
	width: 475px;
}

/* MESSAGE ***************/
.message{
	border-bottom: 1px solid #cdcdcd;
}

.message_from{
	width: 183px;
}

.message_subject a, .message_subject{
	font-weight: bold;
}

.message_content{
	padding-top: 0!important;
}

.unread{ background: #efefef; }

.answer{
	padding-top: 15px;
	background:#efefef url(img/first_comment.gif) top left repeat-x;
}

.input_answer{width: 600px; }

/* FRIENDS ************/
.friend{
	border-bottom: 1px solid #cdcdcd;
}

.delete{ float:right; }

/* THREADS ************/

.input_answer_threads{width: 500px; }

.thread_user{text-decoration: underline;}

#threadentry_userlist{
	float:left;
	margin: 5px;
	position:relative;
	width:100px;
}

#threadentry_main{
	float:left;
	position:relative;
	width:490px;
}


/* CONTEXT-LINKS **************/

.context_menu_link{  background-color: #ddd; padding: 3px; font-size: 130%;}
.context_menu_link :hover{ background-color: #fff; text-decoration: underline;}


 */