<% for thread in @threads %>
<div class="message unread" id="msg_1">
    <table>
        <tbody>
            <tr>
                <td class="message_from">
                    <div>
                        <a href="#">User Names</a>
                    </div>
                    <div class="meta" style="padding-top: 0!important">
                        <%= thread.date %>
                    </div>
                </td>
                <td>
                    <div class="subject">
                    <%= link_to thread.title, {:action => :show, :id => thread.id} %></a>
                </div>
                <div class="message_content">
                    <%= content_of_newest_threadentry thread.id %>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<% end %>