<div id="left">
	<%= link_to 'Write new message >>', {:action => :new}, :class => 'context_menu_link' %> 
    <h2>Messages</h2>
    
    <div id="messages">
        <%= render :partial => 'threads_index', :object => @threads %>
    </div>
</div>
<div id="right">
    right
</div>
