<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>SWA Assignment 2</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div id="menu">
				<ul id="menu_left">
					<li class="menu_list"><a href="#">HOME</a></li>
					<li class="menu_list"><a href="#">MESSAGES <span>3</span></a></li>
					<li class="menu_list"><a href="#">FRIENDS</a></li>
				</ul>
				
				<ul id="menu_right">
					<li>
						<div id="search">
							<form action="#" method="get">
								<input type="text" value="" name="query" id="field_query" />
								<input type="submit" value="go" />
							</form>
						</div>
					</li>
					<!--<li><a href="#">login</a></li>-->
					<li><a href="#">logout</a></li>
					<li>User Name</li>
					
				</ul>
			</div>
		</div>
		<div id="content">
			<div id="left">
				<h2>Friends</h2>
				<div id="friends">
				
					<div class="friend" id="friend_1">
						<div>
							<a href="#">User Name</a> 
							<span class="meta" style="padding-top: 0!important">since 24. Nov</span> 
							<span class="delete"><a href="#">delete</a></span>
						</div>
					</div>
					
					<div class="friend" id="friend_1">
						<div>
							<a href="#">User Name</a> 
							<span class="meta" style="padding-top: 0!important">since 24. Nov</span> 
							<span class="delete"><a href="#">delete</a></span>
						</div>
					</div>
					
					<div class="friend" id="friend_1">
						<div>
							<a href="#">User Name</a> 
							<span class="meta" style="padding-top: 0!important">since 24. Nov</span> 
							<span class="delete"><a href="#">delete</a></span>
						</div>
					</div>
					
					<div class="friend" id="friend_1">
						<div>
							<a href="#">User Name</a> 
							<span class="meta" style="padding-top: 0!important">since 24. Nov</span> 
							<span class="delete"><a href="#">delete</a></span>
						</div>
					</div>
					
					<div class="friend" id="friend_1">
						<div>
							<a href="#">User Name</a> 
							<span class="meta" style="padding-top: 0!important">since 24. Nov</span> 
							<span class="delete"><a href="#">delete</a></span>
						</div>
					</div>
					
					<div class="friend" id="friend_1">
						<div>
							<a href="#">User Name</a> 
							<span class="meta" style="padding-top: 0!important">since 24. Nov</span> 
							<span class="delete"><a href="#">delete</a></span>
						</div>
					</div>
					
					<div class="friend" id="friend_1">
						<div>
							<a href="#">User Name</a> 
							<span class="meta" style="padding-top: 0!important">since 24. Nov</span> 
							<span class="delete"><a href="#">delete</a></span>
						</div>
					</div>
					
					
				</div>
			</div>
			<div id="right">right</div>
		</div>
		<br clear="all"/>
		<div id="footer">
			<div>
				swa013, WS09
			</div>
		</div>
	</div>
</body>
</html>