<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>SWA Assignment 2</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div id="menu">
				<ul id="menu_left">
					<li class="menu_list"><span>HOME</span></li>
					<li class="menu_list"><a href="#">MESSAGES <span>3</span></a></li>
					<li class="menu_list"><a href="#">FRIENDS</a></li>
				</ul>
				
				<ul id="menu_right">
					<li>
						<div id="search">
							<form action="#" method="get">
								<input type="text" value="" name="query" id="field_query" />
								<input type="submit" value="go" />
							</form>
						</div>
					</li>
					<!--<li><a href="#">login</a></li>-->
					<li><a href="#">logout</a></li>
					<li>User Name</li>
				</ul>
				<br style="clear: all;" />
			</div>
		</div>
		<div id="content">
			<div id="left">
				<h2>Posts</h2>
				<div id="poster">
					<div style="background: #cdcdcd; padding: 11px 7px 13px">
						<form action="#" method="get">
							<input type="text" value="What are you doin?" name="poster" id="field_poster" />
							<input type="submit" value="post" id="poster_submit" />
						</form>
					</div>
				</div>
				<div class="post">
					<div><span><a href="#">User Name</a></span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore  At vero ...</div>
					<div class="meta">24. Nov, 13:33 | <a href="#">hide</a></div>
					<div class="comments">
						<ul>
							<li class="first_comment">
								<p><a href="#">User Name</a> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
								<p class="meta">24. Nov, 13:33</p>
							</li>
							<li>
								<p>
									<form action="#" method="get">
										<input type="text" value="" name="comment" class="input_comment" />
										<input type="submit" value="comment" />
									</form>
								</p>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="post">
					<div><span><a href="#">User Name</a></span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore  At vero ...</div>
					<div class="meta">24. Nov, 13:33 | <a href="#">hide</a></div>
					<div class="comments">
						<ul>
							<li class="first_comment">
								<p><a href="#">User Name</a> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
								<p class="meta">24. Nov, 13:33</p>
							</li>
							<li>
								<p>
									<form action="#" method="get">
										<input type="text" value="" name="comment" class="input_comment" />
										<input type="submit" value="comment" />
									</form>
								</p>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="post">
					<div><span><a href="#">User Name</a></span> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore  At vero ...</div>
					<div class="meta">24. Nov, 13:33 | <a href="#">hide</a></div>
					<div class="comments">
						<ul>
							<li class="first_comment">
								<p>
									<form action="#" method="get">
										<input type="text" value="" name="comment" class="input_comment" />
										<input type="submit" value="comment" />
									</form>
								</p>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			<div id="right">right</div>
		</div>
		<br clear="all"/>
		<div id="footer">
			<div>
				swa013, WS09
			</div>
		</div>
	</div>
</body>
</html>