<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>SWA Assignment 2</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div id="menu">
				<ul id="menu_left">
					<li class="menu_list"><a href="#">HOME</a></li>
					<li class="menu_list"><a href="#">MESSAGES <span>3</span></a></li>
					<li class="menu_list"><a href="#">FRIENDS</a></li>
				</ul>
				
				<ul id="menu_right">
					<li>
						<div id="search">
							<form action="#" method="get">
								<input type="text" value="" name="query" id="field_query" />
								<input type="submit" value="go" />
							</form>
						</div>
					</li>
					<!--<li><a href="#">login</a></li>-->
					<li><a href="#">logout</a></li>
					<li>User Name</li>
					
				</ul>
			</div>
		</div>
		<div id="content">
			<div id="left">
				<h2>Messages</h2>
				<!--<div id="poster">
					<form action="#" method="get">
						<div><input type="text" value="" name="poster" id="field_poster" /></div>
						<input type="submit" value="post" id="poster_submit" />
					</form>
					<br style="clear: all" />
				</div>-->
				<div id="messages">
					<div class="message unread" id="msg_1">
						<table>
							<tbody>
								<tr>
									<td class="message_from">
										<div><a href="#">User Name</a></div>
										<div class="meta" style="padding-top: 0!important">24. Nov, 13:33</div>
									</td>
									<td>
										<div class="subject"><a href="#">Super wichtige Nachricht</a></div>
										<div class="message_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, invidunt ut labore  At vero ...</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="message"  id="msg_2">
						<table>
							<tbody>
								<tr>
									<td class="message_from">
										<div><a href="#">User Name</a></div>
										<div class="meta" style="padding-top: 0!important">24. Nov, 13:33</div>
									</td>
									<td>
										<div class="subject"><a href="#">Super wichtige Nachricht</a></div>
										<div class="message_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, invidunt ut labore  At vero ...</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="message"  id="msg_3">
						<table>
							<tbody>
								<tr>
									<td class="message_from">
										<div><a href="#">User Name</a>, <a href="#">Longerusername Name</a></div>
										<div class="meta" style="padding-top: 0!important">24. Nov, 13:33</div>
									</td>
									<td>
										<div class="subject"><a href="#">Super wichtige Nachricht</a></div>
										<div class="message_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, invidunt ut labore  At vero ...</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="message unread"  id="msg_4">
						<table>
							<tbody>
								<tr>
									<td class="message_from">
										<div><a href="#">User Name</a>, <a href="#">Longerusername Name</a></div>
										<div class="meta" style="padding-top: 0!important">24. Nov, 13:33</div>
									</td>
									<td>
										<div class="subject"><a href="#">Super wichtige Nachricht</a></div>
										<div class="message_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, invidunt ut labore  At vero ...</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="message"  id="msg_5">
						<table>
							<tbody>
								<tr>
									<td class="message_from">
										<div><a href="#">User Name</a>, <a href="#">Longerusername Name</a></div>
										<div class="meta" style="padding-top: 0!important">24. Nov, 13:33</div>
									</td>
									<td>
										<div class="subject"><a href="#">Super wichtige Nachricht</a></div>
										<div class="message_content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, invidunt ut labore  At vero ...</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="right">right</div>
		</div>
		<br clear="all"/>
		<div id="footer">
			<div>
				swa013, WS09
			</div>
		</div>
	</div>
</body>
</html>